<!DOCTYPE html>
<html>
<head>
    <title>Infected Lecturers</title>
</head>
<body>
    <h1>Infected Lecturers</h1>
    <a href="{% url 'add_infected_lecturer' %}">Add New Infected Lecturer</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Type</th>
            <th>Infected</th>
            <th>Actions</th>
        </tr>
        {% for lecturer in infected_lecturers %}
        <tr>
            <td>{{ lecturer.name }}</td>
            <td>{{ lecturer.id }}</td>
            <td>{{ lecturer.student_or_lecturer }}</td>
            <td>{{ lecturer.infected }}</td>
            <td>
                <!-- Buttons to Edit/Delete -->
        <a href="{% url 'edit_infected_person' person_id=lecturer.id %}">Edit</a> |
        <a href="{% url 'delete_infected_person' person_id=lecturer.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'main_page' %}">Back to Main Page</a>
</body>
</html>
