<!DOCTYPE html>
<html>
<head>
    <title>Hotplaces in MMU</title>
</head>
<body>
    <h1>Hotplaces in MMU</h1>
    <a href="{% url 'add_hotplace' %}">Add New Hotplace</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for hotplace in hotplaces %}
        <tr>
            <td>{{ hotplace.name }}</td>
            <td>{{ hotplace.description }}</td>
            <td>
                <!-- Buttons to Edit/Delete -->
        <a href="{% url 'edit_hotplace' hotplace_id=hotplace.id %}">Edit</a> |
        <a href="{% url 'delete_hotplace' hotplace_id=hotplace.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'main_page' %}">Back to Main Page</a>
</body>
</html>
