<!DOCTYPE html>
<html>
<head>
    <title>Infected Students</title>
</head>
<body>
    <h1>Infected Students</h1>
    <a href="{% url 'add_infected_student' %}">Add New Infected Student</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Type</th>
            <th>Infected</th>
            <th>Actions</th>
        </tr>
        {% for student in infected_students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.id }}</td>
            <td>{{ student.student_or_lecturer }}</td>
            <td>{{ student.infected }}</td>
            <td>
                <!-- Buttons to Edit/Delete -->
        <a href="{% url 'edit_infected_person' person_id=student.id %}">Edit</a> |
        <a href="{% url 'delete_infected_person' person_id=student.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'main_page' %}">Back to Main Page</a>
</body>
</html>
