# Ignore SQLite database file
db.sqlite3

# Ignore all migration folders in Django apps
**/migrations/
!**/migrations/__init__.py  # Keep __init__.py to maintain package structure

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore environment files
.env
*.env
*.venv
venv/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
.DS_Store
